[Unit]
Description=DWCC SpringBoot Server

[Service]
User=www-data

WorkingDirectory=/home/app/dwcc-live/server
EnvironmentFile=/home/app/dwcc-live/server/.env.local

ExecStart=/usr/bin/java -jar /home/app/dwcc-live/server/dwcc-server.jar

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/dwcc
ExecStartPre=/bin/chown www-data:www-data /var/log/dwcc
ExecStartPre=/bin/chmod -R 775 /var/log/dwcc

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
