#!/bin/bash

cd /etc/letsencrypt/live/%DOMAIN_NAME%

openssl pkcs12 -export -in fullchain.pem -inkey privkey.pem \
-passin pass:%KEYSTORE_PASS% -passout pass:%KEYSTORE_PASS% \
-out %APP_ROOT%/server/keystore.p12 -name tomcat \
-CAfile chain.pem -caname root

chown app: %APP_ROOT%/server/keystore.p12
chmod 664 %APP_ROOT%/server/keystore.p12
